.vercel
# Python virtual environment
venv/*
.venv/*

# Python bytecode
__pycache__/*
*.py[cod]

# Python distribution / packaging
build/
dist/
*.egg-info/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Operating system files
.DS_Store
Thumbs.db

# Environment variables
.env

# Logs
*.log

# Database files
*.db
*.sqlite3

# Jupyter Notebook
.ipynb_checkpoints

# Coverage reports
htmlcov/
.coverage